@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto";
}

.container {
    width: 80vw;
    margin: auto;
    padding-top: 24px;
}

.card {
    background-color: #F9f9F9;
}

.titulo,
h1 {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #453750;
}

.botao {
    padding: 8px;
    background-color: #453750;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
}