.container {
  max-width: 80vw;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notas {
  background-color: #DCD8E1;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 colunas de largura igual */
  gap: 16px; /* Espaço entre as colunas e as linhas */
  padding: 16px;
  cursor: pointer;
  max-width: 80vw;
  border-radius: 16px;
}

.nota {
  min-width: 250px; /* Largura mínima 
  padding: 16px;
  border-radius: 8px;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  max-height: none;
de cada nota */
  padding: 16px;
  border-radius: 8px;
  text-decoration: none;
  position: relative;
  box-sizing: border-box;
  max-height: none;

.notas .nota:nth-last-child(-n+3) {
  flex-grow: 0;
}

.nota-link {
  text-decoration: none;
  color: inherit;
}

.nota h2 {
  margin: 8px 0;
  background-color: transparent;
  color: #000000;
}

.ultima-edicao {
  margin: 0;
  font-size: 0.75rem;
  color: #A9A9A9;
}

.form-excluir {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nota:hover .form-excluir {
  opacity: 1;
}

.btn-excluir {
  border: none;
  cursor: pointer;
  border-radius: 100%;
  padding: 4px;
  background-color: transparent;
}

.btn-excluir:hover {
  background-color: #ABA2B8;
}

.fechar {
  font-size: 1rem;
  font-weight: bold;
  color: #453750;
}

.fechar:hover {
  color: #453750;
}

@media screen and (max-width: 1024px) {
    #form {
        width: 50vw;
    }
}

@media screen and (max-width: 700px) {
    #form {
        width: 90vw;
    }
}